extends layout

block content
  h1: a(href="/comic/random")
    span GPT Dinosaur Comics
    span.button (Show another?)
  main.comic
    each panel in comic
      .panel
        each line in panel
          if line
            div(class=line.speaker.toLowerCase())= line.text
  footer
    if fileName
      .right
        a(href="/comic/"+fileName) Permalink
    else if synthetic
      .right
    .left
      a(href="https://qwantz.com") (C) Ryan North
      span &nbsp;&middot;&nbsp;
      a(href="/generate") Create your own
      span &nbsp;&middot;&nbsp;
      a(href="/privacy") Privacy
    if process.env.NODE_ENV !== 'production'
      details
        summary View JSON
        pre= JSON.stringify(comic, null, 4)
    if original
      details
        summary Transcript
        .transcript= original
