extends layout

block append head
  script(src='/javascripts/generate.js')

block content
  h1: a(href="/comic/random") GPT Dinosaur Comics
  main.generator

    p#lede
      | Enter a prompt for&nbsp;
      a(href="https://textsynth.org/nncp/gpt2tc.html") GPT2tc
      | &nbsp;into the textbox.
      | Press enter twice to start a new panel, but one works best.
      |
      | Use ALL CAPS to add captions.
      |
      | Alternatively, leave it blank!
      |
      | Supported characters include T-Rex, Dromiceiomimus,
      | Utahraptor, God, Narrator, and The Devil.
      |
      | e.g. &ldquo;T-Rex: I have opinions!&rdquo;
      |
      | If you get strange output, check the transcript!
      |
      | It may take a while to get something good.
      | GPT-2 can take many (10 or more) attempts to generate good text.
      |
      | Please add cool screenshots to the&nbsp;
      a(href="https://twitter.com/ryanqnorth/status/1294004644968980480") Twitter thread
      | !
    form(method="POST")#form
      textarea#textarea(name="comic",placeholder="T-Rex: Hey everyone! I'm a sassy T-dude!")
      .shareable
        input(type="checkbox",name="shareable")#shareable
        label(for="shareable") Share this prompt with other users in the future, maybe
        .advsettings
          label(for="topk")
            | top-
            abbr(title='for every token, pick from the kth most probable'): i k
            |  =
          input(name="topk",type="number",step=1,min=0,size=3,value=40)

      input#submit(type="submit",name="Generate comic")
      div: a.shareable(href='/privacy') Privacy