extends layout

block append head
  script(src='/javascripts/generate.js')

block content
  h1: a(href="/comic/random") GPT Dinosaur Comics
  main.generator

    p#lede
      | Enter a prompt for&nbsp;
      a(href="https://textsynth.org/nncp/gpt2tc.html") GPT2tc
      | &nbsp;into the textbox.
      | Press enter twice to start a new panel, but one works best.
      |
      | Use ALL CAPS to add captions.
      |
      | Supported characters include T-Rex, Dromiceiomimus,
      | Utahraptor, God, Narrator, and The Devil.
      |
      | e.g. &ldquo;T-Rex: I have opinions!&rdquo;
      |
      | If you get strange output, check the transcript!
      |
      | It may take a while to get something good.
      | GPT-2 can take many attempts to generate good text.
      | The OpenAI paper it originates from took ten attempts to get to a useable story, and they had a lot more computing power than this model.
      |
      | This works well in Firefox, whereas in Chrome it will make you wait for the full comic to generate before showing it, due to a&nbsp;
      a(href="https://bugs.chromium.org/p/chromium/issues/detail?id=156023") bug
      | .
      |
      | Please send cool screenshots to&nbsp;
      a(href="https://twitter.com/zuzakistan") @zuzakistan
      | !
    form(method="POST")#form
      textarea#textarea(name="comic",placeholder="T-Rex: Hey everyone! I'm a sassy T-dude!")
      input#submit(type="submit",name="Generate comic")
