extends layout

block append head
  script(src='/javascripts/generate.js')

block content
  h1: a(href="/comic/random") Dinosaur Comics
  main.generator
    p#lede.
      Enter a transcript into the textbox.
      Press enter twice to start a new panel.
      She spells it &ldquo;Dromiceiomimus&rdquo;.
    form(method="POST")#form
      textarea#textarea(name="comic")
      input#submit(type="submit")