extends layout

block append head
  script(src='/javascripts/generate.js')

block content
  h1: a(href="/comic/random") GPT Dinosaur Comics
  main.generator

    p#lede
      | Enter a prompt for GPT2tc into the textbox.
      | Press enter twice to start a new panel, but one works best.
      |
      | Use ALL CAPS to add captions.
      |
      | Supported characters include T-Rex, Dromiceiomimus,
      | Utahraptor, God, Narrator, and The Devil.
      |
      | e.g. &ldquo;T-Rex: I have opinions!&rdquo;
      |
      | If you get strange output, check the transcript!
      |
      | It may take a while to get something good.
      | GPT-2 can take many attempts to generate good text.
      | The OpenAI paper it originates from took ten attempts to get to a useable story, and they had a lot more computing power than this model.
      |
      | This works better in Firefox than Chrome, which will hang for about ten seconds but then work.
    form(method="POST")#form
      textarea#textarea(name="comic")
      input#submit(type="submit",name="Generate comic")