extends layout

block content
  .comic
    .panel
      .trex I like people whose names tell short stories, like "John Went."  Where'd he go?  Ha ha ha!
    .panel
      .trex I don't know!
    .panel
      .trex I also like people whose names are verbs, like "Pat" and "Mary," sort of.  And I really like people whose names are nouns and verbs AND adjectives, like ... "Pine."
      .dromiceiomimus I don't think anyone's ever been named "Pine," T-Rex.
      .trex Well, perhaps the name is SO AWESOME that people are simply saving it for the appropriate child!
    .panel
      .utahraptor What about people who are named for their species?
      .trex What about people who are named for their species?
    .panel
      .trex I kind of wish my name was a verb, too, though, instead of just being a noun. You can't T-Rex something.  I've tried.
      .utahraptor You can Utahraptor something though!  Watch!
    .panel
      .narrator SOON.
      .trex My GOODNESS.
    .footer
      .left (C) 2006 Ryan North
      .right www.qwantz.com
      .center #726

