doctype html
html
  head
    block head
      title= title
      link(rel='stylesheet', href='/stylesheets/style.css')
      meta(name='viewport', content='width=725', initial-scale='2.0')
      meta(name='robots', content='noindex')
  body(class=bodyClass?bodyClass:'')
    block content
