
$speech-line-thickness: 2px;
$panel-border-thickness: 3px;

$narrator: black
$god: $narrator
$devil: #83080d
$t-rex: rgb(0, 80, 25);
$dromiceiomimus: rgb(189, 164, 0);
$utahraptor: rgb(122, 71, 0);
html
  background-color: white;
  margin: 0
body
  margin: 0;
  margin-bottom: 1em;
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  background: linear-gradient(180deg, rgba(72,134,251,1) 0%, rgba(255,255,255,1) 40%);
 
  color: gray
  font-family: "Lucida Console", monospace;
  font-size: 14px;
a
  color: #00B7FF
h1
  text-align: center
  margin: 0;
  padding: 0.5em;
  a
    color: white
    font-style: italic;
details
  clear: both
  pre
    font-size: 80%;
  summary
    text-decoration: underline
  .transcript
    white-space: pre-wrap

.sr-only, .no-dialog
  display: none

main.comic
  max-width: 740px;
  margin: auto
  .panel div
    padding: 0.5em;

  .panel div:hover
    background-color: #ffffff9a
  display: flex;
  flex-flow: row wrap;

  justify-content: center;

  .off-panel, .off-panel-whisper, .off-screen
    color: $narrator;
  .narrator, .unreliable-narrator, .title
    color: $narrator;
    font-weight: bold;
    padding-left: 1em;
  .tiny-woman, .woman
    font-size: 80%;
    margin-left: 20%;
    color: $narrator;

  .god
    color: $god;
    font-weight: 800;
  .devil, .the-devil
    color: $devil;
    font-weight: bolder;
  .t-rex, .trex
    padding: 1em;
    clear: both;
    color: $t-rex;
  .dromeceiomimus, .dromeceomimus, .dromeciomeous,
  .dromeciomimus, .dromiceimimus, .dromiceimomimus,
  .dromiceioimus, .dromiceiomemus, .dromiceiomimius,
  .dromiceiomimus, .dromiceiomimus, .dromiceiomomimus,
  .dromiceiomumis, .dromiceomimus, .dromicieomimus,
  .dromiciomimus, .dromiecieomimus, .dromiiceiomimus,
  .drommiceiomimus, .dromoceiomimus, .dromoceiomimus
    color: $dromiceiomimus;
    float: right;
    margin-left: 50px;
  .utahraptor
    color: $utahraptor;
  .god:first-child
    margin-top: 10px;
  .panel
    .god:first-child
      margin-top: 20px;
    .god:first-child:after
      content: '';
      position: absolute;
      border-top: $speech-line-thickness solid $god;
      width: 15px;
      top: -20px;
      left: 20%;
      transform: rotate(85deg);
      transform-origin: 0% 0%;
    .devil:last-child:after, .the-devil:last-child:after
      content: '';
      position: absolute;
      border-top: $speech-line-thickness solid $devil;
      width: 50px;
      bottom: -50px;
      left: 5px;
      transform: rotate(280deg);
      transform-origin: 0% 0%;
.panel
  div
    position: relative
  background-color: white;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;

  display: inline-block;


  border: 3px solid black;

  min-height: 245px;

.panel:nth-child(1), .panel:nth-child(2),
.panel:nth-child(4), .panel:nth-child(5)
  border-right-width: $panel-border-thickness/2;
.panel:nth-child(1), .panel:nth-child(2), .panel:nth-child(3)
  border-bottom-width: $panel-border-thickness/2;

.panel:nth-child(1)
  background-image: url("/images/panel1.svg");
  background-size: 154px 144px;
  width: 239px;
  //padding-bottom: 150px;
  div:last-child

  .t-rex:last-child
    margin-bottom: 150px;

  .t-rex:last-child:after
    content: '';
    position: absolute;
    border-top: $speech-line-thickness solid $t-rex;
    width: 50px;
    top: 100%;
    left: 30%;
    transform: rotate(45deg);
    transform-origin: 0% 0%;




.panel:nth-child(2)
  background-image: url("/images/panel2.svg");
  background-size: 123px 137px;
  background-position: bottom left;
  width: 127px;
  div:last-child
   // margin-bottom: 120px;
  .t-rex:last-child
    margin-bottom: 200px;
  .t-rex:last-child:after
    content: '';
    position: absolute;
    border-top: $speech-line-thickness solid $t-rex;
    width: 50px;
    top: 100%;
    left: 50%;
    transform: rotate(85deg);
    transform-origin: 0% 0%;



.panel:nth-child(3)
  background-image: url("/images/panel3.svg");
  background-size: 360px 184px;
  width: 358px;

  .t-rex:last-child
    clear: both;
    position: relative;
    margin-bottom: 220px;
    text-align-last: center;

  .t-rex:last-child:after
    content: '';
    position: absolute;
    border-top: $speech-line-thickness solid $t-rex;
    width: 40px;
    bottom: -10px;
    left: 170px;
    transform: rotate(120deg);
    transform-origin: 0% 0%;

  .dromiceiomimus:last-child,
  .dromiciomimus:last-child,
  .dromiceomimus:last-child,
  .dromeceiomimus:last-child
    position: relative
    margin-bottom: 120px;
    margin-left: 130px;
    text-align-last: center;
    float: none;

  .dromiceiomimus:last-child:after,
  .dromiciomimus:last-child:after,
  .dromiceomimus:last-child:after,
  .dromeceiomimus:last-child:after
    content: '';
    position: absolute;
    border-top: $speech-line-thickness solid $dromiceiomimus;
    width: 40px;
    bottom: -5px;
    right: 50px;
    transform: rotate(60deg);
    transform-origin: 0% 0%;

.panel:nth-child(4)
  background-image: url("/images/panel4.svg");
  background-size: 191px 170px;
  width: 190px;
  //padding-bottom: 190px;
  .tiny-woman,.woman
    position: absolute;
    bottom: 70px;
    left: -70px;
    width: 30px;
  .t-rex:last-child
    margin-bottom: 200px;
  .t-rex:last-child:after
    content: '';
    position: absolute;
    border-top: $speech-line-thickness solid $t-rex;
    width: 40px;
    bottom: -10px;
    left: 40%;
    transform: rotate(120deg);
    transform-origin: 0% 0%;
  .utahraptor:last-child
    text-align-last: center;
    margin-bottom: 180px;
  .utahraptor:last-child:after
    content: '';
    display: block;
    position: relative;
    border-top: $speech-line-thickness solid $utahraptor;
    width: 20px;
    bottom: -25px;
    left: 60%;
    transform: rotate(250deg);
    transform-origin: 0% 0%;

.panel:nth-child(5)
  background-image: url("/images/panel5.svg");
  background-size: 300px 177px;
  background-position: bottom -5px left -6px;
  width: 295px;

  .utahraptor:last-child
    text-align-last: center;
    margin-bottom: 200px;
  .utahraptor:last-child:after
    content: '';
    display: block;
    position: relative;
    border-top: $speech-line-thickness solid $utahraptor;
    width: 50px;
    bottom: -60px;
    left: 60%;
    transform: rotate(250deg);
    transform-origin: 0% 0%;
  .t-rex:last-child
    margin-bottom: 190px;
  .t-rex:last-child:after
    content: '';
    position: absolute;
    border-top: $speech-line-thickness solid $t-rex;
    width: 40px;
    bottom: -10px;
    left: 40%;
    transform: rotate(120deg);
    transform-origin: 0% 0%;

.panel:nth-child(6)
  background-image: url("/images/panel6.svg");
  background-size: 128px 184px;
  background-position: bottom left 20px;
  width: 239px;

  .t-rex:last-child
    margin-bottom: 200px;
  .t-rex:last-child:after
    content: '';
    position: absolute;
    border-top: $speech-line-thickness solid $t-rex;
    width: 50px;
    top: 100%;
    left: 30%;
    transform: rotate(80deg);
    transform-origin: 0% 0%;

  .utahraptor:last-child:after
    content: '';
    position: absolute;
    border-top: $speech-line-thickness solid $utahraptor;
    width: 40px;
    bottom: 0px;
    left: 10%;
    transform: rotate(120deg);
    transform-origin: 0% 0%;

  .god:last-child
    width: 50%;
    float: right
  .god:last-child:after
      content: '';
      position: absolute;
      border-top: $speech-line-thickness solid $god;
      width: 15px;
      top: 0px;
      right: 0;

      transform: rotate(300deg);
      transform-origin: 0% 0%;

  .panel:first-child
    background-color: #90ffe3
  .panel:first-child:before
      display: block;
      background-color: black;
      text-align: center;
      content: "TEXT PROMPT";
      margin-top: -1em;
      color: white;
      font-weight: bold;
      letter-spacing: 0.2em;

footer
  display: block;
  width: 735px;
  color: #7f7f7f
  margin: auto
  padding-top: 1em
  .left
    display: inline;
    text-align: left;
    float: left;
    padding-bottom: 3em
  .right
    display: inline;
    text-align: right;
    float: right;
  .center
    text-align: center;
  
    text-align: center;
    color: white;
    display: block;

    width: 33%;
    margin: auto;
    margin-top: 0;

.synthetic
  .comic
    .panel:first-child
      background-color: #aefff8;
    .panel:first-child:before
      content: 'TEXT PROMPT'
      font-weight: bold;
      letter-spacing: 0.2em;
      background-color: black;
      color: #aefff8;
      display: block;
      text-align: center;
  footer
    .center:before
      content: 'SYNTHETIC CONTENT'
      background-color: red;
      font-weight: bold;
      text-transform: uppercase;
      margin-right: 1em;
      padding: 0.5em;
      text-align: center;