
$speech-line-thickness: 2px;
$panel-border-thickness: 3px;

$devil: #83080d

html
  background-color: white;
  margin: 0
body
  margin: 0;
  margin-bottom: 1em;
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  background: linear-gradient(180deg, rgba(72,134,251,1) 0%, rgba(255,255,255,1) 40%);
 
  color: gray
  font-family: "Lucida Console", monospace;
  font-size: 14px;
a
  color: #00B7FF
h1
  text-align: center
  margin: 0;
  padding: 0.5em;
  a
    color: white
    font-style: italic;
details
  clear: both
  pre
    font-size: 80%;
  summary
    text-decoration: underline
  .transcript
    white-space: pre-wrap

.sr-only, .no-dialog
  display: none

.comic
  max-width: 740px;
  margin: auto
  .panel div
    padding: 0.5em;
    // fallbacks for comics that go past 6:
    width: 150px;
  .panel div:hover
    background-color: #ffffff9a
  display: flex;
  flex-flow: row wrap;

  justify-content: center;

  .off-panel, .off-panel-whisper, .off-screen
    color: black;
  .narrator, .unreliable-narrator, .title
    color: black;
    font-weight: bold;
    padding-left: 1em;
  .tiny-woman, .woman
    font-size: 80%;
    margin-left: 20%;

  .god
    color: black;
    font-weight: 800;
  .devil, .the-devil
    color: $devil;
    font-weight: bolder;
  .t-rex, .trex
    padding: 1em;
    color: rgb(0, 80, 25);
  .dromeceiomimus, .dromeceomimus, .dromeciomeous,
  .dromeciomimus, .dromiceimimus, .dromiceimomimus,
  .dromiceioimus, .dromiceiomemus, .dromiceiomimius,
  .dromiceiomimus, .dromiceiomimus, .dromiceiomomimus,
  .dromiceiomumis, .dromiceomimus, .dromicieomimus,
  .dromiciomimus, .dromiecieomimus, .dromiiceiomimus,
  .drommiceiomimus, .dromoceiomimus, .dromoceiomimus
    color: rgb(189, 164, 0);
    float: right;
    margin-left: 50px;
  .utahraptor
    color: rgb(122, 71, 0);
  .panel
    .god:first-child
      margin-top: 20px;
    .god:first-child:after
      content: '';
      position: absolute;
      border-top: $speech-line-thickness solid black;
      width: 15px;
      top: -20px;
      left: 20%;
      transform: rotate(85deg);
      transform-origin: 0% 0%;
    .devil:last-child:after, .the-devil:last-child:after
      content: '';
      position: absolute;
      border-top: $speech-line-thickness solid $devil;
      width: 50px;
      bottom: -50px;
      left: 5px;
      transform: rotate(280deg);
      transform-origin: 0% 0%;
.panel
  div
    position: relative
  background-color: white;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  //padding: 1em;
  //padding-bottom: none;

  display: inline-block;


  border: 3px solid black;

  min-height: 245px;

.panel:nth-child(1), .panel:nth-child(2),
.panel:nth-child(4), .panel:nth-child(5)
  border-right-width: $panel-border-thickness/2;
.panel:nth-child(1), .panel:nth-child(2), .panel:nth-child(3)
  border-bottom-width: $panel-border-thickness/2;

.panel:nth-child(1)
  background-image: url("/images/panel1.png");
  background-size: 154px 144px;
  width: 239px;
  padding-bottom: 150px;
  


  .t-rex:last-child:after
    content: '';
    position: absolute;
    border-top: $speech-line-thickness solid black;
    width: 50px;
    top: 100%;
    left: 30%;
    transform: rotate(45deg);
    transform-origin: 0% 0%;




.panel:nth-child(2)
  background-image: url("/images/panel2.png");
  background-size: 123px 137px;
  background-position: bottom left;
  width: 127px;
  div:last-child
    margin-bottom: 120px;
  .t-rex:last-child
    margin-bottom: 180px;
  .t-rex:last-child:after
    content: '';
    position: absolute;
    border-top: $speech-line-thickness solid black;
    width: 30px;
    top: 100%;
    left: 50%;
    transform: rotate(85deg);
    transform-origin: 0% 0%;



.panel:nth-child(3)
  background-image: url("/images/panel3.png");
  background-size: 360px 184px;
  width: 358px;


  .t-rex:last-child
    clear: both;
    position: relative;
    padding-bottom: 170px;
    text-align-last: center;

  .t-rex:last-child:after
    content: '';
    position: absolute;
    border-top: $speech-line-thickness solid black;
    width: 40px;
    bottom: 160px;
    left: 170px;
    transform: rotate(120deg);
    transform-origin: 0% 0%;

  .dromiceiomimus:last-child,
  .dromiciomimus:last-child,
  .dromeceiomimus:last-child
    position: relative

  .dromiceiomimus:last-child:after,
  .dromiciomimus:last-child:after,
  .dromeceiomimus:last-child:after
    content: '';
    position: absolute;
    border-top: $speech-line-thickness solid black;
    width: 40px;
    bottom: -5px;
    left: 170px;
    transform: rotate(60deg);
    transform-origin: 0% 0%;

.panel:nth-child(4)
  background-image: url("/images/panel4.png");
  background-size: 191px 170px;
  width: 190px;
  padding-bottom: 190px;
  .tiny-woman,.woman
    position: absolute;
    bottom: 70px;
    left: -70px;
    width: 30px;


.panel:nth-child(5)
  background-image: url("/images/panel5.png");
  background-size: 300px 177px;
  background-position: bottom -5px left -6px;
  width: 295px;

  .utahraptor:last-child:after
    content: '';
    position: absolute;
    border-top: $speech-line-thickness solid black;
    width: 50px;
    top: 100%;
    left: 60%;
    transform: rotate(60deg);
    transform-origin: 0% 0%;


.panel:nth-child(6)
  background-image: url("/images/panel6.png");
  background-size: 128px 184px;
  background-position: bottom left 20px;
  width: 239px;

.footer
  display: block;
  width: 735px;
  color: #7f7f7f
  margin: auto
  padding-top: 1em
  .left
    display: inline;
    text-align: left;
    float: left;
    padding-bottom: 3em
  .right
    display: inline;
    text-align: right;
    float: right;
  .center
    text-align: center;
